<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Amazonで防寒着などを探してみよう！</h3>
    

    <a target="_blank" href="https://www.amazon.co.jp/s?k=%E5%AF%92%E3%81%84&__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=4RR3MLNT42SP&sprefix=%E5%AF%92%E3%81%84%2Caps%2C235&ref=nb_sb_noss_1">
        Amazon shopping はこちら
    </a>

        <h3>Amazonで冷感グッズを注文してみよう！</h3>


    <a target="_blank" href="https://www.amazon.co.jp/s?k=%E5%86%B7%E6%84%9F%E3%82%B0%E3%83%83%E3%82%BA&__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=21VC2AWD93NMJ&sprefix=%E5%86%B7%E6%84%9F%E3%82%B0%E3%83%83%E3%82%BA%2Caps%2C167&ref=nb_sb_noss_1">
        Amazon shopping はこちら
    </a>
   
      
</body>
</html>