<!DOCTYPE html>
<html lang="en">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    <div class="section center">
     <h1>発信中.......</h1>       
        <img src="/static/熱中症キャット.png" alt="" width="60%" height="60%" style="position: static;"></div>
        <a href="/call2" src="/static/ビデオ通話マーク-removebg-preview.png" alt="" width="45%" height="45%" style="position: static;"></div>
         <img src="/static/ダウンロード (2).png" alt="" width="45%" height="45%" style="position: static;"></div>
    </div>
</body>
</html>     

    