<!DOCTYPE html>
<html lang="en">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materia1.0.0/js/materialize.min.js"></script>

            
</head>
<body>
    <div class="section center">
    <h1>発信中.......</h1>       
        <img src="/static/熱中症キャット.png" alt="" width="30%" height="20%" style="position: static;">
    </div>
    <div class="section center">
    <a href="call2" >
        <img src="/static/ビデオ通話マーク-removebg-preview.png" alt="" width="40%" height="20%" >    
        </a>
       <a href="tel:090-8510-6884" >
        <img src="/static/ダウンロード (2).png" alt="" width="40%" height="20%"> 
         </a> 
    </div>    
</body>
</html>     

