<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head> 
<body>
    <h3><p class="blue" style="text-decoration: underline">エアコン付けた？
      水飲んだ？</p></h3> 

    <a href="house4.HTML" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">OK</i></a>
</body>
</html>