<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
   <div class="section center">
    <h1>換気してる？ だんぼーつけた？</h1></div>
    <div class="section center"> 
    <a href="house4" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">OK</i></a>
</div>
  </body>

</body>
</html>