<!DOCTYPE html>
<html lang="en">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    
    <div class="section center">
        <a href="call" class="btn-floating btn-large waves-effect waves-light aqua"><i class="material-icons">通話</i></a>
        <a href="hikageno_basho" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">日陰</i></a>
        <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">お店</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">気温</i></a>
        <a class="btn-floating btn-large waves-effect  a class="btn-floating btn-large waves-effect waves-light blue><i class="material-icons">全体マップ</i></a>
        <a class="btn-floating btn-large waves-effect  a class="btn-floating btn-large waves-effect waves-waves-blue><i class="material-icons">家で</i></a>
        <a href="map.html"btn-floating btn-large waves-effect  a class="btn-floating btn-large waves-effect waves-waves-blue><i class="material-icons">飲料</i></a>

       <img src="/static/熱中症キャット.png" alt="" width="30%" height="20%" style="position: static;"></div
      if click the button   >





     




    </div>

<div class="section center">
</div></ruby>

</body>
</html>     

