<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .yumaru {
        color: rgb(0, 255, 255);
       } 
    </style>
</head>
<body style="background-color: rgb(0, 0, 0);">
    {{abc}} {{aaa}}   
    <h1 class="yumaru">おためし</h1>
     <h2 class="yumaru">おためし</h2>
      <h3 class="yumaru">おためし</h3> 
       <h4 class="yumaru">おためし</h4>
        <h5 class="yumaru">おためし</h5>
         <h6 class="yumaru">おためし</h6>
    </body>
</html>